.root{
  position: relative;
}

.input{
  border: 1px solid rgb(0,0,0,0.1);
  padding: 8px 45px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 2px solid rgb(0,0,0,0.1);
  }
}

.icon{
  position: absolute;
  left: 10px;
  top: 10px;
}